[run]
source = chat_downloader
omit =
    */__main__.py
    chat_downloader/runtime/_protocols.py

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_also =
    if TYPE_CHECKING:
    \.\.\.
